<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../src/css/main.css">
    <link rel="stylesheet" href="../src/css/passport.css">

    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>
<body>
<!--메뉴바-->
<div id="top_navbar">
    <div id="top_navbar_flex">
        <div id="top_navbar_logo" class="top_navbar_item">
            <img id="top_navbar_logo_img" src="../src/images/logo.png" alt="">
            <div style="margin-left: 20px; margin-right: -20px; margin-top: 3px;">
                <i class="fas fa-search"
                   style="margin-right: -30px; position: relative; z-index: 1; font-size: 20px; margin-bottom: -2px"></i>
                <input id="top_navbar_search" type="search" placeholder="Search ..">
            </div>
        </div>
        <div id="top_navbar_menu" class="top_navbar_item">
            <div class="top_navbar_menu_inline select_menu">
                <p class="top_menu_text">HOME</p>
            </div>
            <div class="top_navbar_menu_inline" onclick="alert('아직 미완성 입니다.')">
                <p class="top_menu_text">REAL TIME</p>
            </div>
            <div class="top_navbar_menu_inline" onclick="alert('아직 미완성 입니다.')">
                <p class="top_menu_text">MAP</p>
            </div>
            <div class="top_navbar_menu_inline" onclick="alert('아직 미완성 입니다.')">
                <p class="top_menu_text">GROUPS</p>
            </div>
        </div>
        <!--로그인 유무 확인-->

        <!--세션 존재-->
        <div id="top_navbar_info" class="top_navbar_item">
            <div id="top_navbar_icon">
                <ul style="padding-left: 0">
                    <li><i class="fas fa-bell"></i></li>
                    <li><i class="fas fa-cog"></i></li>
                    <li><i class="fas fa-sign-out-alt"></i></li>
                </ul>
            </div>
            <div id="top_navbar_profile">
            </div>
        </div>

        <!--세션 없음-->
        <!--<div id="before_top_navbar_info" class="top_navbar_item">
            <div id="before_top_navbar_icon">
                <ul style="padding-left: 0">
                    <li><a href="#">Log in</a></li>
                    <li><a href="#">Sign up</a></li>
                </ul>
            </div>
        </div>-->
    </div>
</div>

<div id="main_container" style="margin-top: 0; height: 100%">
    <div style="display: flex; width: 100%; height: 100%; justify-content: center; align-items: center;">
        <div id="login_box" style="margin-top: -215px">
            <p id="login_box_welcome">로그인 정보가 없습니다. :(</p>
            <p id="login_box_explain" style="margin-bottom: 30px">You are not logged in. :(</p>
            <div style="margin: 40px auto">
                <button class="not_login_button">LOGIN</button>
                <button class="not_login_button">SIGN UP</button>
            </div>
        </div>
    </div>

</div>

</body>
</html>