.imageSlide {
    width: 100%;
    margin-bottom: 30px;
}

.image_ul {
    list-style: none;
    padding-left: 0;
}

.image_ul li img {
    /*width: 700px;*/
    max-width: 700px;
    max-height: 700px;
}

.image_list {
    display: none;
}

.active {
    display: block;
}

.imageSlide_button {
    display: block;
    position: relative;
    font-size: 30px;
    color: #FFFFFF;
    top: -305px;
}

.right_button {
    float: right;
}

.imageSlide_button span {
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(75, 75, 75, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

.imageSlide_button span:hover {
    background: rgba(75, 75, 75, 0.66);
    transition: 0.3s;
}

.fa-chevron-left {
    padding-left: 10px;
    padding-right: 10px;
}

.fa-chevron-right {
    padding-right: 10px;
    padding-left: 10px;
}