<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div style="height: 100%; width: 100%">
    <div id="index_google_map" style="height: 100%"></div>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=GoogleMapAPIKey&callback=initAutocomplete&libraries=places&v=weekly"
            async
    ></script>
    <script src="/src/js/test.js"></script>
</div>

<script type="text/javascript">

</script>
</body>
</html>